


<section class="menu">
    <div class="menu__container">
      <header class="menu__header">
        <h1 class="menu__title">Menús Disponibles</h1>
        <p class="menu__description">
          Descubre nuestros menús y los deliciosos platillos que los componen.
        </p>
        <lib-modal action="Crear Menu" #modal>
          <lib-menu-form
          [menu]="currentMenu()"
          (onSubmit)="handleSubmit($event)"
          ></lib-menu-form>
        </lib-modal>
      </header>
        <main>
          <div class="menu-table">
            <div class="menu-table__grid">
            @for(menu of menus(); track $index){
              <article class="menu-card" aria-label="Tarjeta de menú">
                <div class="menu-card__content">
                  <h2 class="menu-card__title" aria-label="Nombre del menú">
                    {{ menu.name }}
                  </h2>
                  <p class="menu-card__subtitle" aria-label="Estado de platillos en el menú">
                    {{ (menu.dishes ?? []).length > 0 ? 'Platillos incluidos:' : 'Sin platillos asociados' }}
                  </p>
          
                  <ul *ngIf="(menu.dishes ?? []).length > 0" class="menu-card__dish-list" aria-label="Lista de platillos del menú">
                    <li *ngFor="let dish of menu.dishes ?? []" class="menu-card__dish-item">
                      <div class="dish">
                        <h3 class="dish__title" aria-label="Nombre del platillo">
                          {{ dish.name }}
                        </h3>
                        <p class="dish__price" aria-label="Precio del platillo">
                          <strong>Precio:</strong> {{ dish.price | currency:'USD':'symbol':'1.2-2' }}
                        </p>
                      </div>
                    </li>
                  </ul>
          
                  <div class="menu-card__actions">
                    <button class="menu-card__button menu-card__button--edit" (click)="selectMenu(menu.id)">
                      ✏️ Editar
                    </button>
                    <button class="btn--delete" (click)="deleteMenu(menu.id)">
                      🗑️ Eliminar
                    </button>
                  </div>
                </div>
              </article>
              }
            </div>
          </div>
        </main>
    </div>
  </section>
  