<header class="header" role="banner" aria-roledescription="cabecera">
    <h2 class="header__title" aria-label="title" aria-roledescription="nombre del restaurante">La espinaca feliz</h2>
    <a tabindex="3" href="#" aria-label="Ir al Home" aria-roledescription="Ir a la pagina principal" aria-level="1">
        <i aria-hidden="true">
            <img class="header__logo" src="/images/logo.png"
                alt="Logo del restaurante la espinaca feliz. Representa dos hojas verdes.">
        </i>
    </a>
</header>