// _alert-variables.scss

// Alert Colors
$alert-success: #282f28;
$alert-error: #672520;
$alert-warning: #583706;
$alert-text-color: #fff;

// Alert Dimensions
$alert-min-width: 300px;
$alert-padding-y: 15px;
$alert-padding-x: 20px;
$alert-border-radius: 8px;
$alert-font-size: 14px;

// Animation Variables
$alert-animation-duration: 4s;
$alert-transform-distance: -20px;

