<section class="layout-order" aria-label="Order layout">
    <aside class="layout-order__aside-left" aria-label="Sidebar">
        <nav class="layout-order__nav" aria-label="Main navigation">
            <ul class="layout-order__options" role="menubar">
                @for(option of options; track $index){
                <li class="layout-order__option">
                    <a role="button" [routerLink]="option.url">{{option.name}}</a>
                </li>
                }
            </ul>
        </nav>
    </aside>
    <main class="layout-order__main" aria-label="Main content">
        <router-outlet></router-outlet>
    </main>
</section>