<lib-header title="Clientes" buttonText="Agregar Cliente" iconPath="svg/plus.svg#plus" modalTitle="Agregar Nuevo Menu"
    (actionConfirmed)="submitClient()">
    <lib-client-form></lib-client-form>
</lib-header>
<!-- <ng-template #clientModalTemplate>
    <div class="modal">
        <label for="clientName">Nombre del Cliente</label>
        <input class="modal__input" [(ngModel)]="clientName" id="clientName" placeholder="Nombre del cliente" />
        <label for="email">Correo Electronico</label>
        <input class="modal__input" [(ngModel)]="email" id="email" placeholder="Correo electrónico" type="email" />
        <label for="phoneNumber">Telefono</label>
        <input class="modal__input" [(ngModel)]="phoneNumber" id="phoneNumber" placeholder="Telefono" type="text" />
        <label for="address">Direccion</label>
        <input class="modal__input" [(ngModel)]="address" id="address" placeholder="Direccion" />
        <label for="registrationDate">Fecha de Registro</label>
        <input class="modal__input" [(ngModel)]="registrationDate" id="registrationDate" placeholder="Fecha de registro"
            type="date" />
        <div class="modal__checkbox">
            <label for="frequentUser">¿Es usuario frecuente?</label>
            <input class="modal__input modal__input--checkbox" [(ngModel)]="frequentUser" id="frequentUser"
                type="checkbox" />
        </div>
        <div class="modal__checkbox">
            <label for="vip">¿Es VIP?</label>
            <input class="modal__input modal__input--checkbox" [(ngModel)]="vip" id="vip" type="checkbox" />
        </div>
    </div>
</ng-template> -->