<main class="client">
    <table class="client__table" aria-label="table">
        <thead>
            <tr>
                @for (header of getHeaders(); track header.label) {
                <th>{{ header.label }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (client of clients(); track $index) {
            <tr>
                <td>{{ client.idClient }}</td>
                <td>{{ client.clientName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.registrationDate | date: 'shortDate' }}</td>
                <td>{{ client.frequentUser ? 'Si' : 'No' }}</td>
                <td>{{ client.vip ? 'Si' : 'No' }}</td>
                <td class="client__action">
                    @for (action of getActions(); track action.label) {
                    <a class="client__button client__button--{{ action.type }}" (click)="action.type === 'delete' ? openDeleteModal(client.idClient) :  
                        action.type === 'edit' ? openEditModal(client) : null">
                        <i class="client__icon" aria-hidden="true">
                            <svg>
                                <use [attr.xlink:href]="action.icon"></use>
                            </svg>
                        </i>
                        {{ action.label }}
                    </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>