<nav aria-label="Navbar" class="navbar">
    <a href="/">
        <img src="images/logo-navbar.png" alt="Bon Appétit restaurant navbar logo" width="auto" height="56" />
    </a>
    <menu class="navbar__menu" role="list">
        @for (item of [
        { title: 'Inicio', link: '' },
        { title: 'Clientes', link: '/customers' },
        { title: 'Menús', link: '/menus' },
        { title: 'Platos', link: '/dishes' },
        { title: 'Pedidos', link: '/orders' },
        ]; track item.title){
        <li role="listitem"><a class="navbar__link" [routerLink]="item.link">{{ item.title }}</a></li>
        }
    </menu>
</nav>