.menu {
    display: flex;
    align-items: center;
    background-color: #5d6ea6;
    justify-content: space-between;
    list-style: none;
    padding: 0 15px;
    &__logo {
      margin: 10px;
    }
    &__logo img {
      height: 70px;
      width: 100px;
      background-color: #e0dfe4;
      border-radius: 50%;
    }
    &__navigation {
      display: flex;
      gap: 50px;
    }
    &__navigation a {
      color: white;
    }
}
  