@use "../../styles/variables.scss" as variables;

.content{
  &__button-add{
    background: variables.$color-background-button;
    color: variables.$color-background;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background: variables.$color-gradients;
    }
  }

}
