<div class="modal-overlay" *ngIf="isVisible" role="dialog" aria-roledescription="dialog modal">
    <div class="modal-content" role="document" aria-roledescription="contenido del modal">
        <header role="banner" aria-roledescription="cabecera del modal">
            <h2 class="modal-content__title">{{ modalTitle }}</h2>
            <button class="modal-content__close" (click)="closeModal()">X</button>
        </header>
        <form role="form" aria-roledescription="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-content__form-group">
                <label aria-roledescription="id del plato" for="idDish">ID del Plato</label>
                <input aria-roledescription="id del plato" id="idDish" formControlName="idDish" type="number"
                    [disabled]="isEditMode" />
            </div>
            <div class="modal-content__form-group">
                <label aria-roledescription="cantidad" for="quantity">Cantidad</label>
                <input aria-roledescription="cantidad" id="quantity" formControlName="quantity" type="number" />
            </div>
            <div class="modal-content__button">
                <button class="modal-content__action" role="button" aria-roledescription="boton de accion" type="submit"
                    [disabled]="form.invalid">{{
                    modalButton }}</button>
            </div>
        </form>
    </div>
</div>