<div class="dynamic-field" [formGroup]="form()!">
    <div class="dynamic-field__group" formArrayName="dishes">
        <div class="dynamic-field__name"  [formGroupName]="index().toString()">
            <lib-form-dish-selector
            [dishes]="dishes()"
            [form]="form()"
            [formArray]="formArray()"
            [index]="index()"
            />                
            <lib-form-quantity-control
            [formArray]="formArray()"
            controlName="quantity"
            [index]="index()"
            (onDelete)="onDeleteClick()"
            />
        </div>
    </div>
</div>