<section class="box" role="complementary" aria-label="Section de informació sobre entidades">
  <h5 class="box__title">Estadísticas generales</h5>

  <div class="box__container" aria-label="grid informativo" role="group">
    <div class="box__item" aria-label="recuadro de información sobre clientes">
      <h6 class="box__item-title">Cantidad totales de clientes</h6>
      <p class="box__item-value">{{ clientes }}</p>
      <mat-icon aria-hidden="false" fontIcon="trending_up" class="box__client"></mat-icon>
    </div>

    <div class="box__item" aria-label="recuadro de información sobre pedidos">
      <h6 class="box__item-title">Pedidos realizados</h6>
      <p class="box__item-value">{{ pedidos }}</p>
      <mat-icon aria-hidden="false" fontIcon="trending_up" class="box__client"></mat-icon>
    </div>

    <div class="box__item" aria-label="recuadro de información sobre menus">
      <h6 class="box__item-title">Menus en existencia</h6>
      <p class="box__item-value">{{ menu }}</p>
      <mat-icon aria-hidden="false" fontIcon="trending_down" class="box__menu"></mat-icon>
    </div>

    <div class="box__item" aria-label="recuadro de información sobre platos">
      <h6 class="box__item-title">Platos disponibles</h6>
      <p class="box__item-value">{{ platos }}</p>
      <mat-icon aria-hidden="false" fontIcon="trending_flat" class="box__dish"></mat-icon>
    </div>
  </div>
</section>