<section class="menus">
    <h1 class="menus_title">Dashboard de menús</h1>
    <div>
        <lib-modal [title]="modalTitle" action="Crear" [themeButton]="'success'" (onOpenByBtn)="openCreateModal()" (onClose)="handleCloseModal()" #modal>
            <lib-menu-form 
            [menu]="currentMenu()"
            [action]="formAction"
            [theme]="formTheme"
            (onSubmit)="handleSubmit($event)"            
            #menuForm/>
        </lib-modal> 
        <lib-delete-modal item="menú" (onDelete)="handleDelete($event)" #deleteModal/>
        <lib-search-bar [data]="menus()" (onFilteredData)="handleFilteredData($event)"/>
    </div>
    <lib-menu-board
    [menus]="filteredmenus"
    (onSelectmenuToUpdate)="selectMenuToUpdate($event)"
    (onSelectmenuToDelete)="selectMenuToDelete($event)"
    />
</section>