<section class="container">
    <article class="entity">
        <div class="entity__header">
            <h1>Menús</h1>
        </div>
        <div class="entity__create-button-container">
            <button aria-expanded="false" aria-label="Create new menu" aria-describedby="create-menu-description"
                class="entity__create-button" (click)="showCreateMenu()">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span>Crear nuevo menú</span>
            </button>
            @if(showCreateModal){
            <lib-form-menu [menu]="currentMenu()" (onClose)="closeModal()" (onSubmit)="handleSubmit($event)"
                aria-labelledby="create-menu-modal" aria-modal="true" role="dialog"></lib-form-menu>
            }
            @if(showUpdateModal){
            <lib-form-menu [menu]="currentMenu()" (onClose)="closeModal()" (onSubmit)="handleSubmit($event)"
                aria-labelledby="update-menu-modal" aria-modal="true" role="dialog"></lib-form-menu>
            }

        </div>
        <table aria-describedby="menu-list-description">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for ( menu of menus; track menu.id) {
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.menuName }}</td>
                    <td>{{ menu.description }}</td>

                    <td class="entity__buttons">
                        <button aria-label="Edit menu" class="entity__edit-button" (click)="showUpdateMenu(menu.id)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <lib-delete-card aria-label="Delete menu" [selectedId]="menu.id" [entityName]="'menu'"
                            (onDelete)="deleteMenu($event)"></lib-delete-card>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
</section>