<!-- <section class="layout" aria-label="layout">
  <div class="layout__header">
    <app-header></app-header>
  </div>
  <div class="layout__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout__main">

  </div>
  <div class="layout__aside">
    <app-box></app-box>
  </div>
</section> -->

<h1>Layout clientes</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi saepe corrupti cum minima esse! Nam expedita deserunt asperiores dolorum voluptate dolore animi nulla nobis voluptatum tempora, quidem doloremque blanditiis ab quaerat. Dolore id eum adipisci ab laudantium quia veritatis saepe!</p>
