<div class="banner__menu-brand">
    <h3 class="banner__menu-brand-name">BANK FAKE</h3>
</div>


<nav class="sidebar__menu-nav">

    <lib-menu-item [menuItem]="menuItem2" />

    <ul class="sidebar__menu-nav-list">
        @for (item of menuOptions2; track $index) {
        <li class="sidebar__menu-nav-item"
            [ngClass]="{'sidebar__menu-nav-item--active': activeMenu === item.activeMenu}">
            <lib-opcion-item [item]="item" (eventActiveMenu)="setActiveMenu($event)" />
        </li>
        }
    </ul>
</nav>