<main class="homepage">
    <div class="homepage__background-circle homepage__background-circle--left"></div>
    <div class="homepage__background-circle homepage__background-circle--right"></div>
  
    <div class="homepage__container">
      <div class="homepage__row">
        <img src="/images/image1.png" alt="Imagen 1" class="homepage__image homepage__image--top-left">
        <img src="/images/image2.png" alt="Imagen 2" class="homepage__image homepage__image--top-right">
      </div>
      <div class="homepage__row homepage__row--bottom">
        <img src="/images/image3.png" alt="Imagen 3" class="homepage__image homepage__image--bottom-left">
        <img src="/images/image4.png" alt="Imagen 4" class="homepage__image homepage__image--bottom-right">
      </div>
    </div>
  </main>
  