<section class="sidebar" aria-label="sidebar - lado izquierdo">
  <mat-icon
    aria-hidden="false"
    aria-label="menu"
    fontIcon="cancel"
    class="sidebar__close"
  ></mat-icon>
  <h1 class="sidebar__title">Restaurant Management</h1>
  <menu class="sidebar__menu" aria-label="Menu principal">
    @for(item of navItems; track $index) {
    <li class="sidebar__li">
      <a class="sidebar__link" [routerLink]="item.path">
        <mat-icon
          aria-hidden="false"
          aria-label="{item.name} + 'icono'"
          fontIcon="{{ item.icon }}"
          class="sidebar__icon"
        ></mat-icon>

        <span class="sidebar__name">{{ item.name }}</span>
      </a>
    </li>
    }
  </menu>

  <img
    src="../../../../../public/cazuela.jpg"
    alt="cazuela icono"
    class="sidebar__cazuela"
  />

  <h2 class="sidebar__title" aria-label="información">
    Información del restaurante
  </h2>
  <p class="sidebar__info"><b>Nombre:</b> La Cazuela</p>
  <p class="sidebar__info">
    <b>Dirección:</b> Avenida Sabores 456, Ciudad del Sazón, País del Gusto
  </p>
  <p class="sidebar__info"><b>Teléfono:</b> +1 (555) 987-6543</p>
  <p class="sidebar__info">
    Correo Electrónico:
    <a href="mailto:contactoalacazuela.com">contactoalacazuela.com</a>
  </p>
</section>
