<main aria-labelledby="main-title">
        <!-- <lib-section-dishes
          [dishes]="dishes$ | async"
          [isModalOpen]="isModalOpen"
          [modalType]="modalType"
          [selectedDish]="selectedDish"
          [dishForm]="dishForm"
          [formData]="formData"
          (addDish)="openAddModal()"
          (editDish)="openEditModal($event)"
          (deleteDish)="openDeleteModal($event)"
          (saveDish)="onSave()"
          (confirmDelete)="deleteDish()"
          (closeModal)="closeModal()">
        </lib-section-dishes> -->


<lib-section-dishes
[dishes]="dishes$ | async"
[isModalOpen]="isModalOpen"
[modalType]="modalType"
[selectedDish]="selectedDish"
(addDish)="openAddModal()"
(editDish)="openEditModal($event)"
(deleteDish)="openDeleteModal($event)"
(confirmDelete)="deleteDish()"
(saveDish)="onSave($event)"
(closeModal)="closeModal()">
>

</lib-section-dishes>
        
</main>
