@use './variables.scss' as vr;

@mixin font-to-use($fontsize, $fontweight : 500, $font: vr.$font-primary){
    font-family: $font;
    font-size: px-to-rem($fontsize);
    font-weight: $fontweight;
}

@mixin text-properties($text-wrap, $line-height:normal, $letter-spacing:normal){
    text-wrap: $text-wrap;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin flex-container($justify, $align: start, $gap:0, $direction: row, $wrap: nowrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin table-styles {
    background: vr.$color-white;
    border-radius: 6px;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 1px -3px 10px #00000028;
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    &__title {
        padding: 10px;
        font-weight: 600;
        background-color: vr.$color-back;
        color: vr.$color-white;
        border: none;
    }

    &__column {
        &:hover {
            background-color: vr.$color-gray-secondary;
        }
    }

    &__item {
        padding: 8px 30px;
        border-bottom: 1px solid vr.$color-gray-secondary;
        text-align: center;
    }
}

@mixin section-properties {
    @include flex-container(start, center , 0, column);
    width: 85%;
    max-width: 85%;    
    margin: 0 auto;
    margin-top: 150px;
}

@function px-to-rem($px, $base: 16) {
    @return $px / $base * 1rem;
}