@use './fonts.scss';

$font-primary: 'Poppins', serif;

$color-back: #000;
$color-gray: #e8e8e8;
$color-gray-secondary: #ddd;
$color-white: #fff;
$color-yellow:#ffa400;
$color-red:#fe4a49;
$color-green: #59d759;
$color-green-hover:#53c753;
$color-green-hover-secondary:#358535;