$white: #fff;
$black: #000;
$light-blue: #3c99fa;
$blue: #5a73f1c2;
$dark-blue: #5f5af9;
$pink: #ff5ca0;
$red: #f3173d9e;
$orange: #ff801f;
$green: #29b3418a;
$gray: #575756;
$dark-gray: #1a1b1f;
$smoky-gray: #242529;