@use './fonts.scss';

$font-primary: 'Poppins', serif;

$color-back: #000;
$color-gray: #e8e8e8;
$color-gray-secondary: #ddd;
$color-gray-hover: #c0c0c031;
$color-white: #fff;
$color-yellow:#ffa400;
$color-yellow-hover:#e79601;
$color-red:#fe4a49;
$color-red-hover:#df4141;
$color-green: #59d759;
$color-green-hover:#53c753;
$color-green-hover-secondary:#358535;

$shadow-primary: 1px -3px 10px #00000028;
$shadow-secondary: 1px -2px 5px #00000009;