<section class="cliente-form">
  <!-- <h2>{{ isEditMode ? 'Editar Cliente' : 'Crear Cliente' }}</h2>
  @if(mensajeExito) {
    <div class="cliente-form__mensaje-exito">
      {{ mensajeExito }}
    </div>
  }
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="cliente-form__form-group">
      <label>Nombre:</label>
      <input formControlName="name" type="text" />
    </div>
    <div class="cliente-form__form-group">
      <label>Email:</label>
      <input formControlName="email" type="email" />
    </div>
    <div class="cliente-form__form-group">
      <label>Teléfono:</label>
      <input formControlName="numberPhone" type="text" />
    </div>
    <div class="cliente-form__form-actions">
      <button type="submit" id="submit">{{ isEditMode ? 'Editar Cliente' : 'Crear Cliente' }}</button>
    </div>
  </form> -->

</section>

