<section class="orders">
    <h1 class="orders_title">Dashboard de Pedidos</h1>
    <div>
        <lib-modal [title]="modalTitle" action="Crear pedido" [themeButton]="'success'" (onOpenByBtn)="openCreateModal()" (onClose)="handleCloseModal()" #modal>
            <lib-order-form 
            [order] ="currentOrder()"
            [clients]="clients()"
            [dishesList]="dishes()"
            [action]="formAction"
            [theme]="formTheme"
            (onSubmit)="handleSubmit($event)"            
            #orderForm/>
        </lib-modal> 
        <lib-delete-modal item="pedido" (onDelete)="handleDelete($event)" #deleteModal/>
        <lib-search-bar [data]="orders()" (onFilteredData)="handleFilteredData($event)"/>
    </div>
    <lib-order-board
    [orders]="filteredOrders"
    (onSelectOrderToUpdate)="selectOrderToUpdate($event)"
    (onSelectOrderToDelete)="selectOrderToDelete($event)"
    />
</section>