$color-font: #44475c;
$color-primary: #dc3545;
$color-secondary: #354cdb;
$color-tertiary: #db9935;
$color-brown: #864d53;
$color-green: #35db5a;
$color-light-font: #f3e1d5;
$color-light-grey: #f1f1f1;
