<lib-modal action="Crear Cliente" #modal>
  <section class="clients__add" aria-label="Agregar/editar cliente">
    @if(successMessage) {
      <div class="cliente__mensaje-exito">
        {{ successMessage}}
      </div>
    }
    <lib-add-client-form
    [client]="currentClient()"
    (onSubmit)="handleSubmit($event)">
  </lib-add-client-form>
  </section>
</lib-modal>
<section class="content" aria-labelledby="clientes-title">
  <h1 id="clientes-title">Clientes</h1>
  <table class="content__table">
    <thead class="content__head">
      <tr>
        <th scope="col">ID Cliente</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Es Frecuente</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="content__body">
      @for(client of clients(); track client.id){
      <tr class="content__cliente">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.numberPhone}}</td>
        <td>
          @if(client.isFrecuent){
          <p class="content__items--frecuent-true">
            {{client.isFrecuent ? 'Si' : 'No'}}
          </p>
        }@else{
          <p class="content__items--frecuent-false">
            {{ client.isFrecuent ? 'Si' : 'No' }}
          </p>
        }
        </td>
        <td>
          <lib-button [id]="client.id!" (editEvent)="editClient(client.id)" [text]="action()" (onClick)="toggle()" />
          <hr>
          <lib-button-delete [id]="client.id!" (deleteEvent)="deleteClient($event)"></lib-button-delete>
        </td>
      </tr>
      }

    </tbody>
  </table>
</section>
