
<section class="clients" aria-labelledby="clients-title">
  <h1 id="clients-title" class="visually-hidden">Gestión de Clientes</h1>
  <section class="clients__view" aria-label="Ver clientes">
    <lib-get-clients [clients]="clients$ | async"></lib-get-clients>
  </section>
  <section class="clients__add" aria-label="Agregar/editar cliente">
   <!--<app-modal [isVisible]="isModalVisible" (close)="closeModal()">
      <app-add-client [clientSelect]="clientEdit" (clientUpdated)="onClientUpdated()"></app-add-client>
    </app-modal>-->
  </section>
</section>
