<section class="dishes" aria-label="pagina Platos">
  <header
    class="dishes__header"
    aria-label="header Platos contiene navegación y botón para agregar plato"
  >
    <lib-modal [action]="'Crear plato'" #modal>
      <lib-dish-form
        [dishes]="currentDish()"
        (onSubmit)="handleSubmit($event)"
      ></lib-dish-form>
    </lib-modal>

    <h1 class="dishes__title">Platos</h1>
  </header>

  <div class="dishes__grid" aria-label="grid de platos">
    <article class="dish-card">
      @for(plato of allDishes(); track $index) {
      <div class="dish-card__content">
        <h3 class="dish-card__title">{{ plato.name }}</h3>
        <p class="dish-card__description">
          {{ plato.description }}
        </p>

        <div class="dish-card__details">
          <div class="dish-card__price">{{ plato.price | currency }}</div>
          <div class="dish-card__category">Plato tipico</div>
        </div>

        <div class="dish-card__actions">
          <button
            class="dish-card__btn dish-card__btn--edit"
            (click)="selectDish(plato.id)"
          >
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>

          <button
            class="dish-card__btn dish-card__btn--delete"
            (click)="deleteDish(plato.id)"
          >
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
      }
    </article>
  </div>
</section>
