<form [formGroup]="form" class="menu-form" (ngSubmit)="submit()">
    <h2 class="menu-form__title">
        {{ form.get('menuId')?.value ? 'Editar Menú' : 'Crear Menú' }}
    </h2>

    <label class="menu-form__label">
        <span class="menu-form__text">Nombre <span class="menu-form__required">*</span></span>
        <input class="menu-form__input" id="name" type="text" formControlName="name">
        @if (formErrors.name.required && form.get('name')?.touched) {
        <span class="menu-form__error">El nombre es requerido</span>
        }
        @if (formErrors.name.minlength && form.get('name')?.touched) {
        <span class="menu-form__error">Mínimo 3 caracteres</span>
        }
    </label>

    <label class="menu-form__label">
        <span class="menu-form__text">Descripción <span class="menu-form__required">*</span></span>
        <textarea class="menu-form__input" id="description" formControlName="description"></textarea>
        @if (formErrors.description.required && form.get('description')?.touched) {
        <span class="menu-form__error">La descripción es requerida</span>
        }
        @if (formErrors.description.minlength && form.get('description')?.touched) {
        <span class="menu-form__error">Mínimo 10 caracteres</span>
        }
    </label>

    <label class="menu-form__label">
        <span class="menu-form__text">Platos Disponibles <span class="menu-form__required">*</span></span>
        <lib-select [options]="dishOptions()" [placeholder]="'Seleccione un plato'"
            (selectionChange)="addDishId($event)">
        </lib-select>

        @if (form.get('dishIds')?.value?.length === 0) {
        <span class="menu-form__error">Seleccione al menos un plato</span>
        }

        <ul class="menu-form__dishes">
            @for (dishId of form.get('dishIds')?.value; track dishId) {
            <li class="menu-form__dish-item">
                {{ getDishLabel(dishId) }}
                <button type="button" class="menu-form__remove-btn" (click)="removeDishId(dishId)">
                    Eliminar
                </button>
            </li>
            }
        </ul>
    </label>

    <button type="submit" class="menu-form__button" [disabled]="!form.valid">
        {{ form.get('menuId')?.value ? 'Actualizar' : 'Crear' }}
    </button>
</form>