<form aria-label="Form" [formGroup]="form" class="form" (ngSubmit)="submit()" aria-labelledby="form-title">

    <h3 id="form-title" class="form__title">{{ form.getRawValue().id ? 'Actualizar' : 'Crear'}}</h3>
    <div class="form__group">
        @for (control of controls; track $index) {
        @if (control.type === 'textarea') {
        <lib-textarea [formControlName]="control.controlName" [formGroup]="form"
            [placeholder]="control.placeholder" [span]="control.text"></lib-textarea>
        } @else {
            <lib-input [formControlName]="control.controlName" [formGroup]="form" [text]="control.text"
            [type]="control.inputType" [placeholder]="control.placeholder" />
        }
        }
    </div>
    <h3 id="form-message" class="form__message">{{ message() }}</h3>
    <button class="form__button" aria-label="Submit">{{ form.getRawValue().id ? 'Actualizar' : 'Crear'}}</button>
</form>