<section class="section__main">
    <h1 class="title__home">Menus List</h1>
    <div class="tabs__container">
        <ul class="tabs__buttons">
            @for(item of getTabs() ; track $index) {
            <li class="tab-button" [class.active]="activeTab === $index" (click)="selectTab($index, item.id)">
                <span>{{item.name}}</span>
                <div class="actions__items">
                    <lib-buttons [icon]="images[0]" [rowIndex]="$index" (buttonClick)="deleteMenu(item.id)"
                        ariaLabel="Remove"></lib-buttons>
                    <lib-buttons [icon]="images[1]" [rowIndex]="$index" (buttonClick)="redirectToMenuId(item.id)"
                        ariaLabel="Edit"></lib-buttons>
                </div>
            </li>
            }
            <li id="section__add-menu" (click)="redirectToMenu()">Add Menu</li>
        </ul>
        <div class="slider">
            <div class="slider__indicator" [style.transform]="'translateX(' + (activeTab * 100) + '%)'"></div>
        </div>
        <div class="tab__content">

            <ng-content></ng-content>

        </div>
    </div>
</section>
@if(showModal){
<lib-create-menu-form (updateMenu)="createMenu($event)" (closeModal)="closeModal()"></lib-create-menu-form>
}
@if(showModalUpdate){
<lib-update-menu-form [getData]="currentMenu()" (updateMenu)="handleUpdateMenu($event)"
    (closeModal)="closeModal()"></lib-update-menu-form>
}