@use "../../shared/src/infrastructure/ui/styles/variables" as *;

html {
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    background-image: $background-image;
    font-family: $font-family;
  }
  