<article class="plato-card">
  @if (image() == null) {
  <div
    class="plato-card__img"
    style="
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png');
    "
  ></div>
  }@else {
  <div
    class="plato-card__img"
    style="background-image: url({{ image() }})"
  ></div>
  }
  <h2 class="plato-card__title">{{ name() }}</h2>
  <span>Price: {{ price() | currency }}</span>
  <div class="plato-card__button">
    <lib-modify-button-shared (buttonClicked)="onClickModifyButton()" />
    <lib-remove-button-shared (buttonClicked)="onClickRemoveButton()" />
  </div>
</article>
