<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <img src="/assets/images/home.jpg" alt="restaurant" />
            <div class="hero__text">
                <h2>¡Bienvenido a la Restaurante!</h2>
                <h1>Sapori del Mondo</h1>
            </div>
        </div>
    </div>

</section>

<section id="about" class="about">
    <div class="about__container">
        <h2>About Us</h2>
        <div class="about__content">
            <img [src]="image" alt="logo">
            <p>At Gourmet Delights, we bring culinary artistry to life. Our chefs combine the freshest ingredients with
                creativity and passion to create a dining experience like no other. Whether you're celebrating a special
                occasion or simply enjoying a meal, we aim to make every moment unforgettable.
                <br>
                <b>Sapori del Mondo</b> is a restaurant that brings the best of international cuisine straight to your
                table.
                Founded with a passion for authentic flavors and unique culinary experiences, we are dedicated to
                offering you a gastronomic journey that spans from exquisite Italian dishes to the exotic flavors of
                Asia, Latin America, and beyond.

            </p>
        </div>
    </div>
</section>

