<section class="section">
    <div class="container section__content">
        <div class="section__content-header section__content-header--menu-img">
            <figure class="section__content-container">
              <img src="./logo.png" alt="Gusteau's Logo that is displayed in the header of the page with the logo being a draw of 'Rattatouille'" />
              <h1 class="container__content-title">Gusteau's Menus Details</h1>
                <!-- <button (click)="openAddModal()" aria-label="Open modal to add a new menu" class="container__content-btn container__content-btn--add">Add Menu</button> -->
            </figure>
        </div>
        <table class="container__content-table" role="table" aria-labelledby="menusTable">
             <thead class="container__content-table-header">
                <tr>
                     @for (tableContent of tableContent(); track $index) { 
                         <th>{{tableContent}}</th> 
                   } 
                </tr>
            </thead>
            <tbody class="container__content-table-body">
                 @for (data of menus$ | async; track $index) { 
                     <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.description}}</td>
                        <td>
                            <div class="container__content-dishes--list">
                                 @for (data of data.dishes; track $index) {
                                    <div class="container__content-dishes--items">
                                        <strong>{{data.name}}</strong> - ({{data.price | currency:'COP' + ' '}} , Ordered: {{data.totalOrdered}})
                                    </div>
                                } 
                            </div>
                        </td>
                        <td class="container__content-table-actions">
                            <button class="container__content-btn container__content-btn--edit" aria-label="Edit menu details" (click)="openEditModal(data)">Edit</button>
                            <button class="container__content-btn container__content-btn--delete" aria-label="Delete menu" (click)="openDeleteModal(data)">Delete</button>
                        </td>
                    </tr>
                 } 
            </tbody>
        </table>
    </div>
    <!-- <app-modal-action-edit [modalTitle]="'Edit Menu'" [formData]="formData" [inputForm]="menuForm" [saveAction]="onSaveEdit.bind(this)"></app-modal-action-edit>
    <app-modal-action-delete [deleteAction]="deleteData.bind(this)"></app-modal-action-delete>
    <app-modal [modalTitle]="'Add a new Menu'" [inputForm]="menuForm" (onSaveTest)="onSave()" [formData]="formData"></app-modal> -->
  </section>
  