@use "../../styles/variables.scss" as variables;
@use "../../styles/mixins.scss" as mixins;

.modal-container {
  @include mixins.container-column();
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-card {
  position: absolute; /* Necesario para usar márgenes automáticos */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 310px;

  background-color: white;
  border-radius: 12px;
  border: none;
  padding: 30px;
  box-shadow: 0px 15px 20px 2px hsla(220, 20%, 30%, 0.4);

  &__header {
    @include mixins.center-container(space-between);
    margin-bottom: 20px;

    button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: variables.$color-font;
      cursor: pointer;
    }
  }

  &__title {
    @include mixins.font(20px, 500);
    color: variables.$color-font;
  }

  &__content {
    @include mixins.container-column();
    margin-bottom: 30px;
  }

  &__icon {
    font-size: 50px;
    color: variables.$color-tertiary;
    margin-bottom: 10px;
  }

  &__content-title {
    @include mixins.font(18px, 500);
    margin-bottom: 10px;
  }

  &__content-text {
    @include mixins.font(18px);
    color: variables.$color-font;
  }

  &__buttons {
    @include mixins.container(end);
    gap: 20px;
  }

  &__cancel-button,
  &__delete-button,
  &__open-button {
    @include mixins.font(16px, 500);
    padding: 8px 16px;
    background-color: variables.$color-secondary;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1);
    }
  }

  &__open-button {
    background-color: white;
    color: variables.$color-primary;
    border: 1px solid variables.$color-primary;

    &:hover {
      background-color: variables.$color-primary;
      color: white;
    }
  }

  &__cancel-button {
    background-color: variables.$color-font;
  }
}
