@use '../../styles/variables.scss' as variables;

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main aside";
  gap: 10px;

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__main {
    grid-area: main;
    padding: 40px 40px;
    background-color: variables.$secundary-color;
    border-radius: 6px;
  }

  &__aside {
    grid-area: aside;
    background-color: variables.$tercery-color;
    border-radius: 6px;
  }
}
