@use '../../../styles/variables.scss'as vr;

.table-body{
    &__column{
        &:hover{
            background-color: vr.$color-gray-secondary;
        }
    }

    &__item{
        padding: 8px 30px;
        border-bottom: 1px solid vr.$color-gray-secondary;
        text-align: center;
    }
}