@use "../../styles//variables.scss" as variables;
@use "../../styles/mixins.scss" as mixins;

.form-plato {
  width: 300px;
  height: 100%;
  background-color: variables.$formBackground;
  border: 4px solid variables.$borderColor;
  border-radius: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  div {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 5px;
    @include mixins.customBorder(1px, 2px, 1px, 2px);
  }

  button {
    margin-top: 20px;
  }
}
