<header class="site-header">
  <nav class="site-navigation" aria-label="Navegación principal">
    <ul class="nav">
      <li>
        <a routerLink="/" aria-label="Ir al menú principal">Menu</a>
      </li>
      <li>
        <a routerLink="/client" aria-label="Ir a la sección de clientes"
          >Clientes</a
        >
      </li>
      <li>
        <a routerLink="/platos" aria-label="Ir a la sección de platos"
          >Platos</a
        >
      </li>
      <li>
        <a routerLink="/pedidos" aria-label="Ir a la sección de pedidos"
          >Pedidos</a
        >
      </li>
    </ul>
  </nav>
</header>
