@use "../../../ui/styles/mixins.scss" as mix;
@use "../../../ui/styles/variables.scss" as vars;


.actions {
    &__button {
      @include mix.flex(row, center, center);
      height: 100%;
      border: none;
      left: 100%;
      background-color: transparent;
      cursor: pointer;
    }
  }
  
  .icon use {
    transform: scale(1.1);
  }
  