@use "../../styles/mixins" as mixins;
@use "../../../../../../shared/src/infrastructure/ui/styles/variables" as *;

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  &__container {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    width: 448px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05), -1px 0 2px rgba(0, 0, 0, 0.05),
      0 1px 2px rgba(0, 0, 0, 0.05), 0 -1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    &__title {
      text-align: center;
      font-weight: bold;
      color: $bg-blue;
      font-size: 32px;
    }
  }

  &__form {
    @include mixins.form-container;
  }
}
