<lib-menu-header (onSubmitMenu)="addMenu($event)"></lib-menu-header>
<lib-share (searchQueryChange)="updateSearchQuery($event)"></lib-share>
<lib-main [menus]=" menu$ | async" (deleteMenuEvent)="openDeleteModal($event)"
    (editMenuEvent)="openEditModal($event)"></lib-main>

<ng-template #modalTemplate>
    <div class="modal" *ngIf="modalType === 'edit'; else deleteContent">
        <label for="menuName">Ingrese el nuevo nombre del Menu</label>
        <input class="modal__input" [(ngModel)]="menuName" id="menuName" placeholder={{currentMenuName}} />
    </div>
    <ng-template #deleteContent>
        <p>¿Estas seguro de que deseas eliminar este menu?</p>
    </ng-template>
</ng-template>