<header class="header" aria-labelledby="header-title">
  <div class="header__title">
    <h1>La cocina de Mami Juana</h1>
  </div>
  <div class="header__profile">
    <div class="header__message">
      <p>Bienvenida</p>
      <h3>Silvia Torres</h3>
    </div>
    <div class="header__photo">
      <img src="https://raw.githubusercontent.com/ErikaDUARTEm/11-angular-routing/283526a024d1a86f0575aea2191435f8d5b0c152/public/avatar.svg" alt="Foto de perfil de Silvia Torres">
    </div>
  </div>
</header>

