<div class="cell">
    <a class="cell__button cell__button--update" (click)="onClickUpdate()"  
    role="button" aria-label="Actualizar columna" aria-posinset = "1" aria-setsize = "2" aria-haspopup="true">
        <svg aria-hidden="true">
            <use xlink:href ="images/svg/update.svg#update-id"></use>
        </svg>                       
    </a>
    <a class="cell__button cell__button--delete" (click)="onClickDelete()" 
    role="button" aria-label="Eliminar columna" aria-posinset = "1" aria-setsize = "2" aria-haspopup="true">
        <svg aria-hidden="true">
            <use xlink:href ="images/svg/delete.svg#delete-id"></use>
        </svg>  
    </a>
</div> 