<div class="cell">
    <a class="cell__button cell__button--update" [routerLink]="updateLink()" role="button" aria-label="Actualizar columna" tabindex="0">
        <svg aria-hidden="true">
            <use xlink:href ="images/svg/update.svg#update-id"></use>
        </svg>                       
    </a>
    <a class="cell__button cell__button--delete" [routerLink]="deleteLink()" role="button" aria-label="Eliminar columna" tabindex="1">
        <svg aria-hidden="true">
            <use xlink:href ="images/svg/delete.svg#delete-id"></use>
        </svg>  
    </a>
</div>