<article class="get-by-id-client-info">
    <h3 class="get-by-id-client-info__title">Cliente</h3>
    <div class="get-by-id-client-info__container">
        <ul class="get-by-id-client-info__details" aria-label="result">
            <li class="get-by-id-client-info__item">Nombre: {{client.nombre}}</li>
            <li class="get-by-id-client-info__item">Cédula: {{client.cedula}}</li>
            <li class="get-by-id-client-info__item">Correo: {{client.correo}}</li>
            <li class="get-by-id-client-info__item">Teléfono: {{client.telefono}}</li>
            <li class="get-by-id-client-info__item">Tipo: {{client.tipo}}</li>
        </ul>
    </div>
</article>
