<article class="get-by-id-client-info">
    <h3 class="get-by-id-client-info-title">Cliente</h3>
    <div class="get-by-id-client-info__container">
        <ul class="get-by-id__client-details" aria-label="result">
            <li class="get-by-id__client-item">Nombre: {{client.nombre}}</li>
            <li class="get-by-id__client-item">Cédula: {{client.cedula}}</li>
            <li class="get-by-id__client-item">Correo: {{client.correo}}</li>
            <li class="get-by-id__client-item">Teléfono: {{client.telefono}}</li>
            <li class="get-by-id__client-item">Tipo: {{client.tipo}}</li>
        </ul>
    </div>
</article>
