<lib-hero-section></lib-hero-section>
<section class="options">
  <div class="options__container">
      <h2>Our Menu</h2>
      <div class="options__content">
          <div class="options__content-item">
              <img src="assets/images/starters.jpg" alt="Gourmet starter">
              <h3>Starters</h3>
              <p>A delightful selection of appetizers to start your meal.</p>
          </div>
          <div class="options__content-item">
              <img src="assets/images/main.jpg" alt="Main course">
              <h3>Main Courses</h3>
              <p>Savor our expertly crafted entrees, featuring fresh and seasonal ingredients.</p>
          </div>
          <div class="options__content-item">
              <img src="assets/images/dessert.jpg" alt="Dessert">
              <h3>Desserts</h3>
              <p>Indulge in our decadent desserts, the perfect end to your meal.</p>
          </div>
      </div>
  </div>
</section>
<section class="gallery">
  <div class="gallery__container">
    <h2>Gallery</h2>
    <lib-spinner [images]="images"></lib-spinner>
  </div>
</section>