<app-container>
    <section class="create-user">
        <form class="create-user__form" [formGroup]="createUserForm" (ngSubmit)="submit()">

            <div class="create-user__input-group">
                <app-input-float label="First Name" formControlName="firstName" startIcon="fas fa-user"
                    [disabled]="disabled"></app-input-float>
                @if(createUserForm.get('firstName')?.touched && createUserForm.get('firstName')?.invalid) {
                <div class="create-user__error-validation">
                    @if(createUserForm.get('firstName')?.errors?.['required']){
                    <small class="create-user__error-message">This field is required</small>
                    }
                </div>
                }
            </div>


            <div class="create-user__input-group">
                <app-input-float label="Last Name" formControlName="lastName" startIcon="fas fa-user"
                    [disabled]="disabled"></app-input-float>
                @if(createUserForm.get('lastName')?.touched && createUserForm.get('lastName')?.invalid) {
                <div class="create-user__error-validation">
                    @if(createUserForm.get('lastName')?.errors?.['required']){
                    <small class="create-user__error-message">This field is required</small>
                    }
                </div>
                }
            </div>

            <div class="create-user__input-group">
                <app-input-float label="Email address" type="email" formControlName="email" startIcon="fas fa-envelope"
                    [disabled]="disabled"></app-input-float>
                @if(createUserForm.get('email')?.touched && createUserForm.get('email')?.invalid) {
                <div class="create-user__error-validation">
                    @if(createUserForm.get('email')?.errors?.['required']){
                    <small class="create-user__error-message">This field is required</small>
                    }
                    @if(createUserForm.get('email')?.errors?.['email']){
                    <small class="create-user__error-message">This field must be a valid email</small>
                    }
                </div>
                }
            </div>


            <div class="create-user__input-group">
                <app-input-float label="Password" type="password" formControlName="password" startIcon="fas fa-lock"
                    [disabled]="disabled"></app-input-float>
                @if(createUserForm.get('password')?.touched && createUserForm.get('password')?.invalid) {
                <div class="create-user__error-validation">
                    @if(createUserForm.get('password')?.errors?.['required']){
                    <small class="create-user__error-message">This field is required</small>
                    }
                </div>
                }
            </div>

            <div class="create-user__input-group">
                <app-input-float label="Role" type="text" formControlName="role" startIcon="fas fa-briefcase"
                    [disabled]="disabled"></app-input-float>
            </div>

            @if (error) {
            <div class="create-user__error-validation create-user__error-validation--general" role="alert">
                {{ error }}
            </div>
            }
            <div class="create-user__button-container">
                <app-button type="submit" text="Save" icon="fas fa-save" [style]="'solid'" color="primary"></app-button>
            </div>
        </form>
    </section>
</app-container>