<aside class="dashboard__sidebar">
    <div class="dashboard__logo">
      <img src="https://cdn.pixabay.com/photo/2020/06/29/10/55/pizza-5352321_1280.png" alt="Logo de la empresa" class="dashboard__logo-img" />
    </div>
    <nav class="dashboard__nav">
      <ul class="dashboard__nav-list">
        <li class="dashboard__nav-item">
          <a routerLink="clients" class="dashboard__nav-link">Clientes</a>
        </li>
        <li class="dashboard__nav-item">
          <a routerLink="dishes" class="dashboard__nav-link">Platos</a>
        </li>
        <li class="dashboard__nav-item">
          <a routerLink="menus" class="dashboard__nav-link">Menús</a>
        </li>
        <li class="dashboard__nav-item">
          <a routerLink="orders" class="dashboard__nav-link">Pedidos</a>
        </li>
      </ul>
    </nav>
  </aside>
  