<aside class="navbar" aria-label="Main Navigation">
    <nav class="navbar__conteiner">
      <div class="navbar__logo">
        <img src="images/logo-restaurant.png" width="300px" alt="Logo Restaurnate">
      </div>
      <ul class="navbar__list">
          <li class="navbar__item">
              <a class="navbar__link" routerLink="/" >
                  Inicio
              </a>
          </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/menus" routerLinkActive="navbar__link--active">
           Gestionar Menús
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/clients" routerLinkActive="navbar__link--active">
            Gestionar Cliente
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/dish" routerLinkActive="navbar__link--active">
            Gestionar Plato
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" routerLink="/order" routerLinkActive="navbar__link--active">
            Gestionar Órdenes
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  