@use '../../../ui/styles/variables.scss' as variables;
@use '../../../ui/styles/mixins.scss' as mixins;

.menu {
    list-style: none;
    margin-bottom: 150px;

    &__item {
        @include mixins.container-gap(5px);
        margin-bottom: 5px;
        text-decoration: none;
        color: variables.$black;
        font-size: 16px;

        svg {
            width: 20px;
            height: 20px;
            margin-top: 5px;
            fill: none;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    &__item:hover {
        color: #0a5f76c2;
    }

    &__item.active {
        background-color: #ffffff29;
        border-radius: 15px;
        padding: 0 5px;
        box-shadow: 0 0 2px 0;
    }
}