<form
  class="clientForm__form"
  aria-label="Formulario para crear menú"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h2 class="clientForm__title">
    {{ form.getRawValue().id ? "Editar Cliente" : "Crear Cliente" }}
  </h2>
  <div class="clientForm__form-group">
    <input
      type="text"
      formControlName="name"
      class="clientForm__input"
      placeholder="nombre del menú"
    />
  </div>

  <div class="clientForm__form-group">
    <input
      type="email"
      formControlName="email"
      class="clientForm__input"
      placeholder="descripción del menú"
    />
  </div>

  <div class="clientForm__form-group">
    <input
      type="text"
      formControlName="phone"
      class="clientForm__input"
      placeholder="descripción del menú"
    />
  </div>

  <div class="clientForm__form-group">
    <input
      type="text"
      formControlName="address"
      class="clientForm__input"
      placeholder="descripción del menú"
    />
  </div>

  <button type="submit" class="clientForm__submit">
    {{ form.getRawValue().id ? "Editar" : "Crear" }}
  </button>
</form>
