<section
  class="menu"
  aria-label="pagina Menú contiene navegación y botón para agregar menú"
>
  <header class="menu__header" aria-label="header menu">
    <h1 class="menu__title">Menú</h1>
    <lib-modal [action]="'Agregar Menú'" #modal>
      <lib-form-menu
        [menus]="currentMenu()"
        (onSubmit)="handleSubmit($event)"
        [dishes]="allDishes()"
      >
      </lib-form-menu>
    </lib-modal>
  </header>

  <div class="menu__grid">
    <article class="menu-card">
      @for(menu of allMenus(); track $index) {
      <div class="menu-card__content">
        <h3 class="menu-card__title">{{ menu.name }}</h3>
        <p class="menu-card__description">
          {{ menu.description }}
        </p>

        <div class="menu-card__details">
          <div class="menu-card__category">
            @for(dish of menu.dishes; track $index) {
            <span class="menu-card__dish">{{ dish.name }}, </span>
            }
          </div>
        </div>

        <div class="menu-card__actions">
          <button
            class="menu-card__btn menu-card__btn--edit"
            (click)="selectMenu(menu.id)"
          >
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>

          <button
            class="menu-card__btn menu-card__btn--delete"
            (click)="deleteMenu(menu.id)"
          >
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
      }
    </article>
  </div>
</section>
