@use '../../../../../../shared/src/infrastructure/ui/styles/mixins.scss' as mixins;
@use '../../../../../../shared/src/infrastructure/ui/styles/variables.scss' as variables;

.form {
  @include mixins.form(center, 1.5rem, 2rem);
  @include mixins.styleContainer(variables.$colorWhite,variables.$colorDarkGray,2rem,8px);
  max-width: 400px;
  margin: 3% auto 0;

  &__label {
    @include mixins.contColumn(0.5rem, 0);
    width: 100%;
    
    span {
      font-weight: 500;
      color: variables.$colorDarkGray;
    }
  }

  &__input {
    @include mixins.styleContainer(variables.$colorLightBeige,variables.$colorBlack,0.75rem,4px);
    
    border: 1px solid variables.$colorMediumGray;
    width: 100%;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: variables.$colorDarkGray;
    }

    &[aria-required="true"] {
      border-left: 3px solid variables.$colorDarkGray;
    }
  }

  &__button {
    @include mixins.button;
    @include mixins.styleContainer(
      variables.$colorDarkGray,
      variables.$colorWhite,
      0.75rem 1.5rem,
      4px
    );
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    &:hover {
      background-color: lighten(variables.$colorDarkGray, 10%);
    }

    &:focus {
      outline: 2px solid variables.$colorMediumGray;
    }
  }
}