<section class="clients" aria-label="pagina Clientes">
  <lib-modal [action]="'Crear Cliente'" #modal>
    <lib-form-clients
      [clients]="currentClient()"
      (onSubmit)="handleSubmit($event)"
    ></lib-form-clients>
  </lib-modal>
  <h1 class="clients__title">Clientes</h1>
  <div class="clients__container">
    <table class="clients__table" aria-label="Tabla de Clientes" role="table">
      <thead class="clients__thead" aria-label="cabecera de la tabla">
        <tr class="clients__tr clients__tr--header">
          @for(item of this.itemsTable; track $index) {
          <th class="clients__th">{{ item }}</th>
          }
        </tr>
      </thead>

      <tbody class="clients__tbody" aria-label="Cuerpo de la tabla de clientes">
        @for(user of this.allClients(); track $index) {
        <tr class="clients__tr">
          <td class="clients__td">{{ user.name }}</td>
          <td class="clients__td">{{ user.email }}</td>
          <td class="clients__td">{{ user.phone }}</td>
          <td class="clients__td">{{ user.address }}</td>
          <td class="clients__td">{{ user.fechaCreacion | date }}</td>
          <td
            class="clients__td clients__td--actions"
            aria-label="Acciones de la tabla"
          >
            <button
              class="clients__btn clients__btn--delete"
              (click)="deleteClient(user.id)"
            >
              Borrar
            </button>
            <button
              class="clients__btn clients__btn--edit"
              (click)="selectClient(user.id)"
            >
              Editar
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</section>
