@use "../../../../../../shared/src/insfrastructure/ui/styles/variables.scss" as var;

.footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var.$cancel-color;

  &__text {
    margin: 0;
    font-size: 1rem;
    color: var.$text-primary;
  }
}