<menu class="menu" role="menu">
    @for (item of items(); track $index) {
        <li class="menu__item" >
            <a class="menu__link"
            role="tab"
            [routerLink]="item.url" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="menu__link--active" 
            ariaCurrentWhenActive="page"
            [attr.aria-posinset] = "$index +1"
            [attr.aria-setsize] = "items().length"
            >{{item.text | uppercase}}</a>
        </li>
    }
</menu>