@use "../../styles/variables.scss" as variables;

.modal {
  position: fixed;
  top: 200%;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &--visible {
    top: 0;
  }

  &__content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;

}

  &__header {
    display: flex;
    justify-content: flex-end;

    &--close {
      font-size: 28px;
      font-weight: bold;
      color: variables.$color-secondary;
      cursor: pointer;
    }

    &--close:hover,
    &--close:focus {
      color: variables.$color-background-button;
    }
  }
}
